  {% if breadcrumbs %}
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
 
          <a href="/" itemprop="url"><span itemprop="title">{{ site_title }}</span></a>
          <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          <ol>
            
            {% for crumb in breadcrumbs %}
            
              <li>
                <a href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ site_url }}</span></a>
              </li>
              <li>&nbsp;&gt;&nbsp; 
                <a href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ crumb.name }}</span></a>
              </li>
                      
            {% endfor %}
          </ol>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  